

.opp-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #ffffff; /* Adjust border thickness and color as needed */
    z-index: -1;
}

