.App {
  width: 100%;
  min-height: 100vh;  /* Allows the page to grow */
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(6, 41, 6);
}

body {
  background-color: rgb(7, 51, 8);
  color: rgb(255, 255, 255);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers vertically */
  align-items: center; /* Centers horizontally */
  min-height: 100vh; /* Ensures the section takes full screen height */
  text-align: center;
  padding: 20px;
}

.mission-image {
  display: block;  /* Prevents inline behavior */
  margin: 20px auto; /* Centers image and adds spacing */
  width: 100%; 
  max-width: 500px;
  border-radius: 10px;
}

html, body {
  min-height: 100vh;  /* Ensure the page can grow */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  overflow-y: auto;   /* Allows vertical scrolling */
  margin: 0;
  padding: 0;
}
